#glscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -2;
	pointer-events: none;
}

:root {
	--accent-color: #BDA17E;
}

html {
	scroll-behavior: smooth;
}

.page-main, .page-gallery {
	position: relative;
}

.page-main > *, .page-gallery > * {
	z-index: 1;
}

.page-main::before, .page-gallery::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}

.page-main::before {
	background: url("./../img/content_bg.png") no-repeat;
	background-position: center 1200px;
	background-size: initial;
}

.page-gallery::before {
	background: url("./../img/gallery_bg.png") no-repeat;
	background-position: center 120px;
	background-size: initial;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.header__inner {
	display: flex;
	width: 1408px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.header__content {
	display: flex;
	gap: 80px;
}

.logo {
	display: flex;
	flex-direction: column;
	margin: 50px 0;
	cursor: default;
}

.logo img {
	height: 50px;
	margin-bottom: 6px;
}

.logo span {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
}

.nav__blocks {
	display: flex;
	list-style-type: none;
	gap: 80px;
	padding: 0;
	margin: 0;
}

.nav__blocks li a {
	transition: 0.2s ease-in-out;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.nav__blocks li a:hover {
	color: var(--accent-color);
	letter-spacing: 0.1em;
}

.contact a {
	color: var(--accent-color);
}

.banner {
	position: relative;
	display: flex;
	margin: 0 auto;
	width: 1408px;
	align-items: center;
	padding: 300px 0 0;
	justify-content: space-between;
	background: url("./../img/banner_bg.png") no-repeat;
	background-position: 0 100px;
	background-size: auto 100%;
}

.banner__title {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.banner h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	color: #fff;
	margin: 0;
	padding: 0;
	cursor: default;
}

.banner__title p {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #9C9C9C;
	cursor: default;
}

.btn {
	background-color: var(--accent-color);
	border-radius: 4px;
	color: #fff;
	border: 0;
	width: 270px;
	height: 64px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	filter: brightness(1.0);
	transition: filter 50ms ease-out;
}

.btn:hover {
	filter: brightness(1.1);
}

.btn:active {
	filter: brightness(0.9);
}

.quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 150px 0;
}

.quote img {
	margin-bottom: 30px;
}

.quote h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	margin: 0 0 42px;
	width: 970px;
	text-align: center;
}

.quote span {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
}

.quote p {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: var(--accent-color);
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.services {
	padding-top: 40px;
}

.block-title {
	display: flex;
	justify-content: center;
	height: 100px;
}

.block-title h3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: var(--accent-color);
	margin: 0;
	cursor: default;
}

.cards__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	flex-wrap: wrap;
	margin: 48px auto;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 12px;
	box-shadow: 0px 8px 16px;
	background: #2E2C2A;
	transition: all 0.1s ease-in-out;
	cursor: default;
}

.card__content {
	display: flex;
	flex-direction: column;
	padding: 24px;
	gap: 48px;
	border: 3px solid #353130;
	transition: all 0.1s ease-in-out;
	height: 100%;
	background: url("./../img/lt_corner.svg") no-repeat top left,
	url("./../img/rt_corner.svg") no-repeat top right,
	url("./../img/rb_corner.svg") no-repeat bottom right,
	url("./../img/lb_corner.svg") no-repeat bottom left;
}

.card__content img {
	height: 48px;
	align-self: center;
}

.card__content span {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	height: 54px;
	text-align: center;
	color: var(--accent-color);
	transition: color 0.1s ease-in-out;
	align-self: center;
}

.card__content ul {
	margin: 0;
	padding: 0 0 0 12px;
	flex: 1;
}

.card__content li {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #939190;
}

.card__content p {
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #939190;
	margin: 0;
	transition: all 0.1s ease-in-out;
}

.card:hover {
	box-shadow: 0px 0px 8px #A57138, 0px 8px 16px rgba(0, 0, 0, 0.2);

}

.card:hover .card__content {
	border-color: #A57138;
}

.card:hover .card__content span {
	color: #A57138;
}

.card:hover .card__content p {
	color: #A57138;
}

.work-plan {
	padding: 80px 0 120px;
}

.work-plan__container {
	position: relative;
}

.work-plan__container::before {
	content: "";
	display: block;
	width: 4px;
	height: 540px;
	position: absolute;
	top: 78px;
	left: calc(50% - 2px);
	background: var(--accent-color);
}

.work-plan__block {
	display: flex;
	justify-content: space-between;
	width: 750px;
	margin: 0 auto;
	gap: 30px;
}

.work-plan__block-img, .work-plan__block-info {
	flex: 1;
}

.work-plan__block-img {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.work-plan__block-icon {

}

.work-plan__block-line {
	transform: translateX(30px);
}

.work-plan__block-info {
	display: flex;
	justify-content: flex-end;
}


.work-plan__block-info-container {
	width: 80%;
	text-align: right;
}

.work-plan__block.right .work-plan__block-line {
	transform: translateX(-30px);
}

.work-plan__block.right .work-plan__block-info {
	display: flex;
	justify-content: flex-start;
}

.work-plan__block.right .work-plan__block-info-container {
	text-align: left;
}

.work-plan__block.last {
	margin-bottom: 80px;
}

.work-plan__block-ready {
	display: flex;
	justify-content: center;
}

.work-plan span {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
}

.work-plan p {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.advantages .cards__title {
	height: auto;
	padding-top: 60px;
}

.gallery {
	padding-top: 40px;
}

.gallery__items {
	display: flex;
}

.gallery__item {
	position: relative;
	flex: 1;
	overflow: hidden;
	height: 480px;
	transition: all 0.2s linear;
}

.gallery__item img {
	width: 100%;
	height: 480px;
	object-fit: cover;
}

.gallery__item::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: background 0.2s linear;
}


.gallery__item:hover {
	flex: 1.6;
}

.gallery__item:hover::after {
	background: rgba(0, 0, 0, 0);
}

.gallery__button {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.gallery__btn {
	background-color: var(--accent-color);
	border-radius: 4px;
	color: #fff;
	border: 0;
	width: 160px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	filter: brightness(1.0);
	transition: filter 50ms ease-out;
}

.gallery__btn:hover {
	filter: brightness(1.1);
}

.gallery__btn:active {
	filter: brightness(0.9);
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	border-top: 2px solid #BDA17E;
	margin-top: 120px;
}

.footer > div {
	flex: 1;
}

.footer .logo {
	margin: 0;
	flex-direction: row;
	align-items: end;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 52px;
	margin-bottom: 50px;
}

.footer__contacts-info {
	display: flex;
	gap: 26px;
}

.footer__contacts-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.footer__contacts-info span {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	cursor: default;
}

.footer__contacts-info a {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--accent-color);
	margin: 0;
}

.footer__address {
	display: flex;
	align-items: end;
	justify-content: flex-end;
}

.footer__address span {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	cursor: default;
}


.gallery-main {
	padding-top: 300px;
}

.gallery-main__container {
	width: 1400px;
	margin: 0 auto;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}


.gallery-main__item {
	position: relative;
	cursor: pointer;
	transition: all 0.2s linear;
	border: 3px solid #2E2C2A;
	box-shadow: 0 4px 8px #000000;
	box-sizing: border-box;
	overflow: hidden;
}

.gallery-main__item::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: background 0.2s linear;
}

.gallery-main__item:hover {
	box-shadow: 0 4px 8px #A57138;
	border-color: var(--accent-color);
}

.gallery-main__item:hover::before {
	background: rgba(0, 0, 0, 0);
}


.gallery-main__item img {
	width: 100%;
	height: 352px;

}

.gallery-main__description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
	padding: 24px 18px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: transform 0.2s linear;
}

.gallery-main__description span {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.gallery-main__description p {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #9B9B9B;
	margin: 0;
	padding: 0;
}

.gallery-main__item:hover .gallery-main__description {
	transform: translateY(0%);
}